.main {
}
/* Header */
.header {
  width: 100%;
  height: 120px;
  color: #fff;
}
/* Header -> Nav TOP */
.header__navbar--top {
  background-color: #333e48;
  height: 35px;
  padding: 0 15%;
}
/* Header -> Nav left */
.header__navbar-list--left {
  display: flex;
  font-size: 0.75rem;
  font-weight: 300;
  list-style-type: none;
}
.header__navbar-list--left li {
  position: relative;
}
.header__navbar-list--left li:hover {
  color: hsla(0, 0%, 100%, 0.7);
}
.header__navbar-list--left li i {
  font-size: 12px;
}
.header__navbar-list--left .header__navbar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 7px;
  border: 2px;
  border-right: 2px solid hsla(0, 0%, 100%, 0.22);
}
/* Header -> Nav left -> Nav item -> Code QR */
.header__codeqr {
  z-index: 1;
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
  margin-top: 10px;
  width: 180px;
  padding: 2px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 0 5px 2px rgb(209, 207, 207);
  animation: fadeIn ease 0.2s;
}
.header__codeqr::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 20px;
  top: -15px;
  left: 0px;
}
.header__codeqr-img {
  border: 0;
  width: 100%;
  height: 180px;
  border-bottom: rgb(240, 236, 236) 1px solid;
}
.header__codeqr-link {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.header__codeqr-link img {
  border: 0;
  width: 70px;
  height: 18px;
}
.header__navbar-list--left li:hover .header__codeqr {
  display: block;
}
/* ============================== */
.header__navbar-list--left .header__navbar-item:last-child {
  border: none;
}
.header__navbar-list--left .header__navbar-item i {
  margin-right: 4px;
}
/* Header -> Nav right */
.header__navbar-list--right {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 500;
  list-style-type: none;
}
.header__navbar-list--right .header__navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  cursor: pointer;
}
.header__navbar-list--right li {
  position: relative;
}
.header__navbar-list--right li:hover .header__news {
  display: block;
}
.header__navbar-list--right .header__navbar-item:hover > a {
  color: hsla(0, 0%, 100%, 0.7);
}
.header__navbar-list--right div.header__navbar-item {
  position: relative;
}
.header__navbar-list--right
  div.header__navbar-item:hover
  .header__navbar-items-info-user {
  display: block;
}
/* Tablet and Mobile */
.search-cart__user-info {
  position: relative;
  cursor: pointer;
}
.search-cart__user-info-no-login {
  position: absolute;
  z-index: 12;
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  top: 120px;
  right: 0px;
  width: 18.75rem;
  height: 64rem;
  transform: translateX(100%);
  transition: transform ease-in 0.3s;
}
.check_show_user-info:checked ~ .search-cart__user-info-no-login {
  transform: translateX(0%);
}
.check_show_user-info:checked ~ .search-cart__user-info-layout {
  display: block;
}
.search-cart__user-info-layout {
  display: none;
  z-index: 11;
  position: absolute;
  top: 120px;
  right: -15px;
  width: 625rem;
  height: 625rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.user-info-no-login__img {
  width: 50px;
  height: 50px;
  margin: 10px 20px;
}
.user-info-no-login__img > img {
  width: 100%;
  height: 100%;
}
.user-info-no-login__link-login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user-info-no-login__link-login {
  color: #e23918;
}
.user-info-no-login__link-login,
.user-info-no-login__link-register {
  display: block;
  flex-grow: 1;
  text-align: center;
}
.user-info-no-login__links {
  width: 100%;
  list-style-type: none;
  margin-top: 10px;
}
.user-info-no-login__link-item {
  line-height: 35px;
  padding-left: 20px;
  border-bottom: 1px solid rgb(243, 241, 241);
}
.user-info-no-login__link-item > a {
  color: #000;
  font-size: 0.875rem;
}
/* =========================== */
.header__navbar-items-info-user {
  display: none;
  position: absolute;
  z-index: 10;
  top: calc(100% + 10px);
  right: 10px;
  color: #000;
  background-color: #fff;
  list-style-type: none;
  border-radius: 5px;
  box-shadow: 1px 5px 10px 5px rgb(236, 236, 236);
}
.header__navbar-items-info-user::before {
  display: block;
  position: absolute;
  content: "";
  top: -15px;
  right: 0px;
  width: 7.5rem;
  height: 1.25rem;
}
.header__navbar-items-info-user::after {
  display: block;
  position: absolute;
  content: "";
  top: -20px;
  right: 60px;
  border-width: 10px 20px;
  border-style: solid;
  border-color: transparent transparent #fcfcfc transparent;
}
.header__navbar-item-avatar-user {
  border-radius: 50%;
  width: 1.125rem;
}
.header__navbar-item-fullname-user {
  margin-left: 5px;
}
.info-user__item-link {
  width: 7.5rem;
  padding: 10px;
}
.info-user__item-link a {
  color: rgb(109, 106, 106);
}
.info-user__item-link:hover a {
  color: #f84e2c;
}
/* Header -> Nav right -> Nav item -> News  */
.header__news {
  background-color: #fcfcfc;
  position: absolute;
  display: none;
  z-index: 1;
  border: 1px solid rgb(230, 225, 225);
  border-radius: 5px;
  width: 400px;
  top: calc(100% + 8px);
  right: 0;
  transform-origin: calc(100% - 20px) top;
  animation: growthIn ease 0.3s;
}
.header__news::before {
  position: absolute;
  display: block;
  content: "";
  top: -32px;
  right: 10px;
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent #fcfcfc transparent;
}
.news-header,
.news-footer {
  padding: 0 10px;
  color: #d4d4d4;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
}
.news-body {
  background-color: #fff2ee;
  height: auto;
}
.news-body__items {
  list-style-type: none;
}
.news-body__items li {
  /* background-color: #333e48; */
  padding: 5px;
}
.news-body__items li:hover {
  background-color: #fff;
}
.news-body__items li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}
.item__img {
  background: transparent
    url("https://img.abaha.vn/photos/resized/200x120/83-1611317370-myphamohui-lgvina.png")
    no-repeat center / contain;
  width: 20%;
  height: 80px;
  margin-right: 5px;
}
.item__content {
  width: 100%;
  height: 80px;
  margin: 5px;
  padding: 5px;
}
.content__title,
.content__short-desc {
  font-weight: 400;
  height: auto;
}
.content__title {
  text-transform: uppercase;
  font-size: 15px;
}
.content__short-desc {
  font-size: 11.5px;
  opacity: 0.7;
}
.news-footer {
  text-align: center;
}
.news-footer a {
  text-decoration: none;
  color: rgb(102, 101, 101);
}
.news-footer:hover a {
  color: red;
}
/* ================================ */
.header__navbar-list--right .header__navbar-item:nth-child(4) {
  border-left: 2px solid hsla(0, 0%, 100%, 0.22);
}
.header__navbar-list--right .header__navbar-item:nth-child(2) {
  padding-right: 13px;
}
.header__navbar-list--right .header__navbar-item > a {
  text-decoration: none;
  color: #fff;
}
.header__navbar-list--right .header__navbar-item i {
  font-size: 20px;
}
/* Header -> Nav BOTTOM */
.header__navbar--bottom {
  background-color: #fff;
  border-bottom: rgb(230, 229, 229) solid 1px;
  height: 85px;
  padding: 0 15%;
}
.header__navbar-item--left {
  text-align: center;
}
.navbar-item__logo {
  display: block;
  width: 3.4375rem;
  height: 3.4375rem;
}
.navbar-item__logo img {
  width: 100%;
  height: 100%;
}
.header__navbar-item--center {
  display: flex;
  align-items: stretch;
  justify-content: center;
  /* min-width: 840px; */
  padding: 3px;
  height: 34px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
  border-radius: 2px;
}
.navbar-item__search-input {
  position: relative;
  width: 100%;
  padding-left: 10px;
}
.navbar-item__search-input input {
  outline: none;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: 30px;
  border: 0;
  opacity: 0.8;
}
.navbar-item__search-input input:focus ~ .search-input__search-history {
  display: block;
}
.search-input__search-history {
  z-index: 5;
  position: absolute;
  display: none;
  top: calc(100% + 10px);
  left: 0;
  width: calc(100% - 40px);
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  box-shadow: 0 1px 5px 0 rgb(185, 185, 185);
}
.search-history__heading {
  color: rgb(214, 214, 214);
  font-size: 0.875rem;
  padding: 10px;
}
.search-history__list {
  list-style-type: none;
}
.search-history__item {
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}
.search-history__item:hover {
  background-color: #f3f2f2;
}
.navbar-item__search-selector {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 120px;
  height: 100%;
  color: #333;
  font-weight: 400;
  padding-right: 10px;
  padding-left: 15px;
  border-left: 1px solid rgb(233, 228, 228);
  cursor: pointer;
}
.navbar-item__search-selector:hover .search-selector__items {
  display: block;
}
.navbar-item__search-selector span {
  font-size: 12px;
}
.navbar-item__search-selector i {
  margin-left: 15px;
}
.search-selector__items {
  position: absolute;
  display: none;
  list-style-type: none;
  text-align: center;
  background-color: #fff;
  top: 100%;
  left: 15px;
  margin-top: 8px;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgb(185, 185, 185);
}
.search-selector__items::before {
  position: absolute;
  content: "";
  top: -20px;
  left: 0;
  width: 100px;
  height: 20px;
}
.search-selector__items li {
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
}
.search-selector__items li:hover {
  background-color: #f3f2f2;
}
.search-selector__items i {
  font-size: 12px;
}
.navbar-item__search-btn {
  display: flex;
  align-items: center;
}
.navbar-item__search-btn > a {
  background-color: #000;
  color: #fff;
  display: block;
  height: 100%;
  padding-top: 2px;
  border-radius: 3px;
}
.header__navbar-item--right {
  position: relative;
  color: #fb5736;
  cursor: pointer;
}
.header__navbar-item--right i {
  font-size: 30px;
}
.header__navbar-item--right:hover .search-cart__list-no-items {
  display: block;
}
.search-cart__list-no-items {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  right: 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.search-cart__list-no-items::before,
.search-cart__list-items::before {
  display: block;
  position: absolute;
  content: "";
  top: -15px;
  right: 5px;
  border-width: 10px 40px;
  border-style: solid;
  border-color: transparent transparent #fcfcfc transparent;
}
.search-cart__list-no-items img {
  margin: 0 80px 20px;
  width: 200px;
}
.search-cart__list-no-items p {
  color: #333;
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}
.search-cart__count-items {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 1.4;
  min-width: 0.6875rem;
  top: -10px;
  left: 18px;
  padding: 0 8px;
  border-radius: 50%;
  border: 2px #f84e2c solid;
}
.search-cart__list-items {
  position: absolute;
  z-index: 11;
  display: none;
  top: calc(100% + 10px);
  right: 20px;
  width: 400px;
  background-color: #fff;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 5px 0 5px 5px rgb(228, 228, 228);
}
.header__navbar-item--right:hover .search-cart__list-items {
  display: block;
}
/* .header__navbar-item--right:hover .search-cart__list-items {
  display: block;
} */
.cart-items__heading,
.cart-items__body,
.cart-items__footer {
  padding: 10px;
}
.cart-items__heading-title {
  color: rgb(196, 189, 189);
  font-weight: 400;
}
.cart-items__body {
  border-top: 1px solid rgb(223, 219, 219);
  border-bottom: 1px solid rgb(223, 219, 219);
  max-height: 400px;
  overflow: auto;
}
.cart-items__body-list {
  list-style-type: none;
}
.cart-items__body-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 46px;
  margin: 10px 0;
}
.cart-items__body-item--left {
  display: flex;
  height: 100%;
}
.cart-items__body-item--left img {
  width: 46px;
  height: 46px;
}
.cart-items__body-item--center {
  width: auto;
  height: 46px;
  padding: 0 10px;
  overflow: hidden;
}
.cart-items__body-desc {
  font-size: 0.875rem;
  font-weight: 500;
  color: #000;
}
.cart-items__body-item--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
}
.body-top__algorithm,
.body-top__count-total {
  color: rgb(161, 160, 160);
}
.body-top__algorithm {
  font-size: 0.625rem;
}
.cart-items__body-bottom {
  margin-top: 5px;
  color: #000;
}
.cart-items__body-bottom:hover {
  color: #f84e2c;
}
.cart-items__footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 5px 0;
}
.cart-items__footer-item:last-child {
  justify-content: flex-end;
}
.cart-items__footer-view-cart {
}
/* Form Login/Register */
.auth-form {
  background-color: #fff;
  width: 500px;
}
.auth-form__containter {
  padding: 22px 30px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 22px;
}
.auth-form__heading {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
}
.auth-form__switch-btn {
  font-size: 1.125rem;
  color: rgb(236, 80, 28);
  font-weight: 500;
  cursor: pointer;
}
.auth-form__group {
  margin-bottom: 20px;
}
.auth-form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgb(221, 219, 219);
  border-radius: 2px;
  outline: none;
  padding-left: 10px;
}
.auth-form__input::placeholder {
  color: rgb(158, 158, 154);
  font-size: 0.9375rem;
  font-weight: 300;
}
.auth-form__input:focus {
  border-color: #000;
}
.auth-form__terms,
.auth-form__help {
  font-size: 0.75rem;
  line-height: 1rem;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form__help a {
  padding: 0 12px 0 12px;
}
.auth-form__help a:last-child {
  color: rgb(134, 132, 132);
  border-left: 1px rgb(219, 212, 212) solid;
}
.auth-form__terms {
  display: flex;
  justify-content: center;
}
.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.auth-form__controls--register {
  margin-top: 100px;
}
.auth-form__controls button {
  font-size: 0.9375rem;
  font-weight: 400;
  width: 150px;
  margin-left: 10px;
  border-radius: 2px;
}
.auth-form__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: stretch;
  background-color: rgb(241, 239, 239);
  height: 50px;
  padding: 0 30px;
}
.auth-form__socials a {
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: none;
  width: 215px;
}
.auth-form__socials a:nth-child(1) {
  background-color: #1863b3;
  color: #fff;
}
/* Mobile */
.header__navbar-bottom--mobile {
  z-index: 15;
  height: 40px;
  background-color: #fff;
  color: #000;
  border: 1px rgb(243, 240, 240) solid;
  transform: translateY(-1000%);
  transition: transform ease-in 0.3s;
}
/* Search input */
.search-input__mobile {
  position: relative;
  width: 100%;
  border-right: 1px solid rgb(223, 217, 217);
}
.search-input__mobile-text {
  width: 100%;
  font-size: 0.75rem;
  font-weight: 300;
  outline: none;
  border: none;
  padding-left: 10px;
}
.search-input__mobile-text:focus ~ .search-input__mobile-history {
  display: block;
}
.search-input__mobile-history {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 10px;
  width: calc(100% - 30px);
  background-color: #fff;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px rgb(185, 184, 184);
}
.search-input__mobile-history-heading {
  color: rgb(190, 189, 189);
  padding: 5px;
  border-bottom: 1px solid rgb(236, 234, 234);
}
.search-input__mobile-history-list {
  list-style: none;
  line-height: 30px;
  cursor: pointer;
}
.search-input__mobile-history-item {
  font-weight: 400;
  padding: 0 10px;
}
.search-input__mobile-history-item:hover {
  background-color: rgb(247, 242, 242);
}
/* Search selctor */
.search-selector__mobile {
  position: relative;
  font-size: 0.75rem;
  font-weight: 300;
  height: 100%;
}
.search-selector__mobile:hover .search-selector__mobile-list {
  display: block;
}
.search-selector__mobile-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.search-selector__mobile-selected > i {
  font-size: 1rem;
}
.search-selector__mobile-list {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  list-style: none;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 2px rgb(187, 184, 184);
  cursor: pointer;
}
.search-selector__mobile-list::before {
  position: absolute;
  content: "";
  top: -10px;
  left: -8px;
  border-width: 10px 55px;
  border-style: solid;
  border-color: transparent;
}
.search-selector__mobile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5625rem;
  padding: 0 10px;
}
.search-selector__mobile-item:hover {
  background-color: rgb(245, 240, 240);
  color: #e23918;
}
.search-selector__mobile-item > i {
  font-size: 0.625rem;
  padding-right: 5px;
}
/* Search button */
.search-btn__mobile {
  width: 100%;
  height: 30px;
}
.search-btn__mobile-btn {
  display: block;
  height: 100%;
  background-color: #ee4d2d;
  border-radius: 3px;
}
.search-btn__mobile-btn:hover {
  opacity: 0.8;
}
.search-btn__mobile-btn > i {
  display: block;
  color: #fff;
  text-align: center;
  line-height: 1.875rem;
}
/* Container */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  border-bottom: 3px solid #e23918;
}
/* Grid column 2 */
.category {
  background-color: #fff;
  padding: 20px;
}
.category__heading {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.category__heading i {
  padding-right: 10px;
}
.category__items {
  list-style-type: none;
  font-size: 0.8125rem;
  font-weight: 400;
}
.category__item-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgb(228, 225, 225);
  cursor: pointer;
}
.category__item-link span {
  font-size: 14px;
}
.category__item-link:first-child > .category__text-link {
  color: #ec4523;
  font-size: 0.9375rem;
}
.category__text-link {
  color: #000;
}
.category__item-link:hover > .category__text-link,
.category__item-link:hover > span {
  color: #e23918;
}
.category__item-link:hover .category__text-link-items {
  display: block;
}
.category__text-link-items {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 150px;
  width: 200px;
  list-style-type: none;
  background-color: #fff;
  padding: 0 10px;
}
.category__text-link-items::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: -20px;
  width: 40px;
  height: 40px;
}
.category__item-link-child {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid rgb(228, 225, 225);
}
.category__text-link-child {
  color: #000;
}
.category__item-link-child:hover .category__text-link-child {
  color: #e23918;
}
/* Grid column 10 */
/* Row 1 */
/* Left */
.home-filter {
  position: relative;
  background-color: #ededed;
  line-height: 70px;
}
.home-filter__left {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin-left: 20px;
}
.home-filter__left-sort-link {
  margin-left: 10px;
}
.home-filter__left-sort-link-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  width: 9.375rem;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 2.1875rem;
  cursor: pointer;
}
.home-filter__left-sort-link-price > span:nth-child(2) {
  font-size: 1.125rem;
}
.home-filter__left-sort-link-price:hover .home-filter__left-sort-price {
  display: block;
}
.home-filter__left-sort-price {
  display: none;
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #fff;
  list-style-type: none;
  border-top: 1px rgb(226, 221, 221) solid;
}
.home-filter__left-sort-price__item {
  font-size: 0.875rem;
  padding-left: 10px;
  border-top: 1px solid rgb(241, 237, 237);
}
.home-filter__left-sort-price__item:first-child {
  border: none;
}
.home-filter__left-sort-price__item:hover {
  color: #e23918;
}
/* Right */
.home-filter__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.home-filter__right-show-page {
  font-size: 0.875rem;
  font-weight: 300;
}
.home-filter__right-page-current {
  color: red;
}
.home-filter__right-change-page--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.home-filter__right-page-prev,
.home-filter__right-page-next {
  background-color: #fff;
  width: 2.125rem;
  color: #000;
  text-align: center;
  line-height: 2.25rem;
  border: 1px solid rgb(240, 235, 235);
}
.home-filter__sort-link {
  display: block;
  font-size: 0.875rem;
  line-height: 40px;
  text-align: center;
  width: 100%;
  border: 1px solid rgb(241, 237, 237);
  cursor: pointer;
}
.home-filter__sort-link-price {
  display: flex;
  /* justify-content: space-around; */
  background-color: #fff;
  border: 1px solid rgb(240, 236, 236);
}
.home-filter__sort-link-price-item {
  display: block;
  font-size: 0.875rem;
  line-height: 40px;
  text-align: center;
  width: 100%;
}
.home-filter__sort-link-price-item:nth-child(1) {
}
.home-filter__sort-link-price-item:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-menu {
  list-style-type: none;
  overflow-x: auto;
  padding-bottom: 8px;
}
.home-menu__item {
}
.home-menu__item:nth-of-type(3n + 1) .home-menu__item-link {
  background-color: #86afd7;
}
.home-menu__item:nth-of-type(3n + 2) .home-menu__item-link {
  background-color: #76c9bd;
}
.home-menu__item:nth-of-type(3n + 3) .home-menu__item-link {
  background-color: #88cf81;
}
.home-menu__item-link {
  --line-height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  white-space: normal;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  border-radius: 5px;
}
.home-menu__mobile {
  position: relative;
}
.home-menu__mobile-menu,
.home-menu__mobile-search {
  display: block;
  width: 100%;
  color: #000;
  text-align: center;
  border: none;
}
.home-menu__mobile-menu span,
.home-menu__mobile-search span {
  display: block;
}
.home-menu__mobile-search:checked ~ .header__navbar-bottom--mobile {
  display: block !important;
}
.category-mobile {
  position: fixed;
  z-index: 15;
  top: 80px;
  left: 0;
  width: 100%;
  font-size: 0.75rem;
  border-radius: 3px;
  transform: translateX(-100%);
}
.category-mobile__layout {
  display: none !important;
  position: fixed;
  z-index: 14;
  top: 82px;
  left: 5px;
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, 0.3);
}
.category-mobile__list {
  background-color: #fff;
  list-style: none;
}
.category-mobile__item-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  line-height: 20px;
  padding: 10px 15px;
  border: 1px solid rgb(238, 237, 237);
  cursor: pointer;
}
.category-mobile__item-text {
  display: block;
}
.category-mobile__item-link-list {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding-top: 5px;
}
.category-mobile__item-link-child {
  width: 100%;
  list-style: none;
  line-height: 20px;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(238, 237, 237);
}
.category-mobile__item-link-child:hover .category-mobile__text-child {
  color: #e23918;
}
.category-mobile__item-link-child:last-child {
  border-bottom: 0;
}
.category-mobile__text-child {
  display: block;
}
/* Row 2 */
/* Grid col 2 */
.home-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.home-product {
  display: block;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgb(241, 238, 238);
  border-radius: 5px;
  cursor: pointer;
}
.home-product:hover {
  outline: 0;
  box-shadow: 5px -1px 10px 5px rgb(228, 228, 228);
  top: -1px;
}
.home-product__heading {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
}
.home-product__heading-sale-off {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(255, 216, 57, 0.8);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  padding: 5px 5px;
  padding-bottom: 0px;
}
.home-product__heading-sale-off::before {
  position: absolute;
  content: "";
  top: calc(100% + 0.2px);
  left: 0;
  border-width: 5px 20px;
  border-style: solid;
  border-color: rgba(255, 216, 57, 0.8) rgba(255, 216, 57, 0.8) #fff
    rgba(255, 216, 57, 0.8);
}
.home-product__sale-off-percent {
  color: #e23918;
}
.home-product__sale-off-label {
  text-transform: uppercase;
}
.home-product__heading-add-cart {
  align-self: center;
  background-color: rgba(76, 175, 80, 0.8);
  padding: 10px;
  line-height: 0.8;
}
.home-product__heading-add-cart > span {
  color: #fff;
  font-size: 1rem;
}
.home-product__show-liked {
  position: absolute;
  background-color: #e23918;
  top: 200px;
  left: -5px;
  padding: 0 5px;
  line-height: 1.2;
  border-radius: 2px;
}
.home-product__show-liked::before {
  position: absolute;
  display: block;
  content: "";
  top: calc(100% - 1px);
  left: 0px;
  border-top: 5px solid #e23918;
  border-left: 5px solid transparent;
  filter: brightness(70%);
}
.home-product__show-liked > i {
  color: #fff;
  font-size: 0.625rem;
}
.home-product__show-liked > span {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 500;
}
.home-product__img {
  width: 100%;
  height: 13.875rem;
  border-bottom: 1px solid rgb(230, 225, 225);
}
.home-product__content {
  font-weight: 400;
  padding: 10px;
}
.home-product__content-title {
  overflow: hidden;
  width: 100%;
  height: 2.25rem;
  font-size: 0.875rem;
  line-height: 1.3;
  margin-bottom: 0.3125rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-product__content-price {
  font-size: 0.875rem;
  margin-bottom: 0.3125rem;
}
.home-product__price-old {
  color: rgb(138, 132, 132);
  font-size: 0.75rem;
  text-decoration: line-through;
}
.home-product__price-new {
  color: #e23918;
  font-size: 1rem;
}
.home-product__content-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3125rem;
}
.home-product__rate-like {
  color: #595959;
  font-size: 14px;
}
.home-product__rate-of-sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.25rem;
}
.home-product__rate-of-sales--left > span {
  color: #ffce3d;
  font-size: 0.75rem;
  width: 8px;
  padding-bottom: 0.375rem;
}
.home-product__rate-of-sales--right {
  margin-left: 10px;
  font-size: 0.75rem;
}
.home-product__content-origin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-product__origin-left,
.home-product__origin-right {
  color: #595959;
  font-size: 12px;
  font-weight: 200;
}
/* Row 3 */
/* Pagination */
.home-product__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.home-product__pagination-prev,
.home-product__pagination-next {
  background-color: transparent;
  color: rgb(124, 121, 121);
  font-size: 35px;
  font-weight: 300;
  line-height: 1.4;
  padding: 0 30px;
  border: none;
}
.home-product__pagination-page {
  background-color: transparent;
  color: rgb(124, 121, 121);
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 20px;
  padding: 5px 25px;
  border: none;
  box-shadow: 1px 1px 2px 1px rgb(233, 229, 229);
}
.home-product__pagination a:hover {
  color: #e23918;
  font-weight: 400;
}
/* PC */
@media (min-width: 64rem) {
}
/* Tablet */
@media (min-width: 46.25rem) and (max-width: 63.9375rem) {
  .header__navbar--top {
    padding: 10px 20px;
  }
  .header__navbar--bottom {
    padding: 0 20px;
  }
}
